body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container-1 {
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav,
.footer{
   display: flex;
   justify-content: space-between;
   padding: 16px;
   background-color: #1F2937;
    color: #F9FAF8;
}

.footer {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav {

    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
}

.header-logo {
    font-weight: bold;
}

.intro-container {
    display: flex;
    align-items: center;
    margin: 50px 150px;
    justify-content: center;
    gap: 150px;
}

.intro-info {
    display: flex;
    flex-direction: column;
    max-width: 420px;
}

.intro-heading {
    margin-bottom: 0;
}
.intro-body {
    margin-top: 0;
}

.btn-intro  {
    max-width: 20%;
    background-color: #3882F6;
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
}

.body-content-1 {
    margin: 50px 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    
}

.rando-list {
    display: flex;
    list-style: none;
    margin:50px;
    padding:20px;  
    gap: 20px;
}

.card-border {
    border: 4px solid #3882F6;
    border-radius: 10px;
    max-width: 150px;
    padding: 75px 0;
    margin: auto auto 20px auto;
}

.container-3 {
    background-color: #E5E7EB;
    color: #1F2937;
}

.insp-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 200px;
}

.signup-form {
    display: flex;
    margin: 50px 400px;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 10px 50px;
    border-radius: 10px;
}

.form-btn {
    color: white;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 5px;
}

